# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.2021-cours-bachelor-dev-gobelins.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Anthelme\Documents\Dev\Cours Gobelins Bowling\2021-cours-bachelor-dev-gobelins\.idea\.idea.2021-cours-bachelor-dev-gobelins\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
